body {
    font-size: var(--font-size-400);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    max-width: 1024px;
    margin-inline: auto;
}

input,
button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


@supports(height: 100dvh) {
    main {
        height: 100dvh;
    }
}

main {
    height: 100vh;
}