.flex {
    display: flex;
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.gap-400 {
    gap: var(--spacing-400)
}

.flex-1 {
    flex: 1;
}

.margin-inline-start-600 {
    margin-inline-start: var(--spacing-600);
}

.padding-block-end-200 {
    padding-block-end: var(--spacing-200);
}

.padding-inline-400 {
    padding-inline: var(--spacing-400);
}

.padding-block-400 {
    padding-block: var(--spacing-400);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}


/* Hide from screen */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}