/* Flex */

.flex {
    display: flex;
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.gap-400 {
    gap: var(--spacing-400)
}

.flex-1 {
    flex: 1;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

/* Spacing */

.margin-inline-start-600 {
    margin-inline-start: var(--spacing-600);
}

.margin-inline-start-200 {
    margin-inline-start: var(--spacing-200);
}

.margin-block-400 {
    margin-block: var(--spacing-400);
}

.padding-block-end-200 {
    padding-block-end: var(--spacing-200);
}

.padding-inline-400 {
    padding-inline: var(--spacing-400);
}

.padding-block-400 {
    padding-block: var(--spacing-400);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.position-relative {
    position: relative;
}

.color-dark-blue {
    color: var(--very-dark-blue);
}

.font-size-300 {
    font-size: var(--font-size-300)
}




/* Hide from screen */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}